.flex-box{
    background-color: gray;
    display: flex;
    /* justify-content: space-around; */
    height: 300px;
    flex-wrap: wrap;
    align-items: stretch;
    /* align-content: stretch; */
}
.item{
    color: white;
    background-color: red;
    /* flex-grow: 1; */
    flex-basis: 100px;
    height: 50px;
    flex-shrink: 0;
}
.item:nth-child(2){
    /* max-width: 50px; */
    /* width: 100px; */
    margin-left:20px; 

}
.item:nth-child(4){
    margin-left:auto; 
}


.item:nth-child(2n){
    background-color: blue;
}


/* 테스트 */
.test-box{
    display: flex;
    height: 500px;
    flex-direction: column;
}
.header{
    flex-basis: 50px;
    background-color: green;
    flex-shrink: 0;

}
.body{
    display:flex;
    background-color: aqua;
    flex-basis: 100%;
    flex-direction: row;
    flex-grow: 1;

}
    .aside{
        background-color: blue;
        flex-basis: 250px;
        flex-shrink: 0;
    }
    .main{
        background-color: yellow;
        flex-grow:1;
        order:-1;
    } 



.footer{
    flex-basis: 50px;
    background-color: gray;
    flex-shrink: 0;
}





