.test-box{
    display: flex;
    flex-direction: column;
    height: 500px;
}

.header{
    height: 50px;
    background-color: green;
}

.body{
    min-height: 300px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;

}
    .aside{
        display: flex;
        width: 250px;
        background-color: blue;
    }

    .main{
        display: flex;
        flex-grow: 1;
        background-color: yellow;
    }


.footer{
    height: 50px;
    background-color: gray;
    flex-shrink: 0;
}